# Discord Bot Token (von https://discord.com/developers/applications)
DISCORD_TOKEN=dein_token_hier

# Zeitzone der Gilde (IANA-Format)
# Beispiele: Europe/Berlin, Europe/Vienna, UTC
TIMEZONE=Europe/Berlin
